import "@/styles/globals.css";

export const metadata = {
  title: "Transblindados IA v2",
  description: "Sistema inteligente Transblindados IA",
};

export default function RootLayout({
  children,
}: {
  children: React.ReactNode;
}): React.ReactElement {
  return (
    <html lang="pt-BR">
      <body>{children}</body>
    </html>
  );
}
